.modal-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.modal-header .close{
    border-radius: 50rem !important;
    color: #6d788d;
    border-color: #e8e9ed;
    background: #e8e9ed;
    border: none;
}

.modal.show{
    background-color: rgb(var(--bs-primary-rgb), .1);
}
.options-on-save{
    display: none !important;
}

.gc-container input[type="checkbox"]{
    
}

.card-datatable .card-header{
    padding-right: 0px !important;
}

.width-add {
    width: 80% !important;
    margin: 0 auto; /* Centra horizontalmente */
    transition: width 0.3s ease; /* Suaviza el cambio */
}

.card-datatable .btn-add{
    margin-right: 0 !important;
}
  
/* Cuando la pantalla sea menor o igual a 768px */
@media (max-width: 768px) {
    .width-add {
        width: 100% !important;
    }
}

.datatables-basic td{
    padding: 5px 7px !important;
}

.logo.avatar{
    border-radius: 50%;
    overflow: hidden;
}

.logo.avatar img{
    height: auto !important;
    width: 100% !important;
}

del { background-color: #ffcccc; color: red; }
ins { background-color: #ccffcc; color: green; }